<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.prymos.rpgprofile">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_studio"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListaPerfilActivity" />
        <activity
            android:name=".PerfilActivity"
            android:label="@string/titulo_tela_perfil"
            android:parentActivityName=".ListaPerfilActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.prymos.rpgprofile.ListaPerfilActivity" />
        </activity>
        <activity
            android:name=".FichaActivity"
            android:label="@string/titulo_tela_ficha"
            android:parentActivityName=".ListaPerfilActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.prymos.rpgprofile.ListaPerfilActivity" />
        </activity>
        <activity
            android:name=".ConfiguracoesActivity"
            android:label="@string/titulo_tela_configuracoes"
            android:parentActivityName=".FichaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.prymos.rpgprofile.FichaActivity" />
        </activity>
    </application>

</manifest>